<html>
<head>
	<meta charset="UTF-8">
	<title>权限不足</title>
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/default/easyui.css" />
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/icon.css" />
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.min.js"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/locale/easyui-lang-zh_CN.js"></script>
	<script type='text/javascript' src='bug-min.js'></script>
	<style type="text/css">
		body{
			background-image:url('bg.svg');
		}
		table{
		    margin: auto;
		}
	</style>
</head>
<body>
	<h1>权限不足</h1>
</body>
</html>
