<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>O365管理系统</title>
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/default/easyui.css" />
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/icon.css" />
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.min.js" th:inline="none"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.easyui.min.js" th:inline="none"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/locale/easyui-lang-zh_CN.js" th:inline="none"></script>
</head>
<body class="easyui-layout" data-options="fit:true">
<a href="https://github.com/vanyouseea/o365"><img width="128" height="128" src="/forkme2.png" alt="Fork me on GitHub" data-recalc-dims="1" style="position: absolute; top: 0;z-index: 999999;right: 0"></a>
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;">
		<h3><img src="logo.svg" /></h3> 
	</div>
	<div data-options="region:'west',split:true,title:'管理'" style="width:260px;padding:2px;">
		<div id="aa" class="easyui-accordion" style="width:100%;height:220px;">
		    <div title="用户"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('管理用户')">管理用户</div></li>
					<li><div onclick="addPanel('查看特权用户')">查看特权用户</div></li>
				</ul>
		    </div>
		    <div title="许可证"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('查看许可证')">查看许可证</div></li>
				</ul>
		    </div>
		    <div title="配置和报告" style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('Office配置')">Office配置</div></li>
					<li><div onclick="addPanel('Office总览报告')">Office总览报告</div></li>
					<li><div onclick="addPanel('系统配置')">系统配置</div></li>
				</ul>
		    </div>
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:25px;background:#A9FACD" >Powered by hqr - O365 v1.5.3 </div>
	<div id="acc" class="easyui-tabs" data-options="region:'center'">
		<div title="首页" style="padding:10px">
			<h2>欢迎来到O365管理系统，你可以使用它来方便的管理多个Office全局</h2>
			<ul style="font-size: 15px">
				<li>如果你是<font color="red">首次使用</font>，请先前往[配置]-><a href=javascript:addPanel("Office配置")>Office配置</a>配置你的APP信息，如果你不知道如何创建APP，请参考<a href="https://github.com/vanyouseea/msautocreate" target="_blank" >GitHub</a></li>
				<li>请确保APP开启以下API的<font color="red">应用程序</font>权限(缺少部分权限亦可使用，只是对应的功能无法执行成功)
					<table style="font-size: 13px">
						<tr>
							<td><font color="blue">Application.ReadWrite.All</font></td>
							<td>用于新增密钥的功能</td>
						</tr>
						<tr>
							<td><font color="blue">Application.ReadWrite.OwnedBy</font></td>
							<td>用于新增密钥的功能</td>
						</tr>						
						<tr>
							<td><font color="blue">Directory.ReadWrite.All</font></td>
							<td>用于订阅，域名，用户管理的功能</td>
						</tr>
						<tr>
							<td><font color="blue">RoleManagement.ReadWrite.Directory</font></td>
							<td>用于特权角色的管理</td>
						</tr>
						<tr>
							<td><font color="blue">User.ManageIdentities.All</font></td>
							<td>用于用户的管理</td>
						</tr>
						<tr>
							<td><font color="blue">User.ReadWrite.All</font></td>
							<td>用于用户的管理</td>
						</tr>
					</table>
				</li>
				<li>[用户]-><a href=javascript:addPanel("管理用户")>管理用户</a>页中，你可以批量添加(分配订阅)，删除，启用，禁用用户，搜索用户，你也可以提升一个用户为管理员或者撤销他的管理员权限</li>
				<li>[用户]-><a href=javascript:addPanel("查看特权用户")>查看特权用户</a>页中，你可以查看身份是全局管理，用户管理，特权角色管理，特权认证管理的特殊用户</li>
				<li>[许可证]-><a href=javascript:addPanel("查看许可证")>查看许可证</a>页中，你可查看以当前全局的许可证信息</li>
				<li>[配置和报告]-><a href=javascript:addPanel("Office配置")>Office配置</a>页中，你可以添加，修改，删除，切换全局，生成此全局的报告，更新APP密钥，验证APP有效性(<font color=red>不包含</font>权限的校验)</li>
				<li>[配置和报告]-><a href=javascript:addPanel("Office总览报告")>Office总览报告</a>页中，你可以查看Office配置中全局管理员和SPO的可用性报告</li>
				<li>[配置和报告]-><a href=javascript:addPanel("系统配置")>系统配置</a>页中，你可以添加，查看或修改各种系统配置，包含但不限于订阅中文名的翻译的添加和修改</li>
				<li>如果你有任何意见和建议，欢迎给我提<a href="https://github.com/vanyouseea/o365/issues/new">issue</a></li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript"  >
		function addPanel(name){
			tab = $('#acc').tabs('getTab',name);
			if(tab==null){
				if(name=='管理用户'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/user.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='查看许可证'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/license.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='Office配置'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/config.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}				
				else if(name=='系统配置'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/system.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='查看特权用户'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/privilegedUser.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='Office总览报告'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/apprpt.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
			}
			else{
				$('#acc').tabs('select',name);
			}
		}
	</script>
</body>
</html>
