<html>
<head>
	<meta charset="UTF-8">
	<title>404 MH</title>
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/default/easyui.css" />
	<link rel="stylesheet" href="jquery-easyui-1.9.14/themes/icon.css" />
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.min.js"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="jquery-easyui-1.9.14/locale/easyui-lang-zh_CN.js"></script>
</head>
<body class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;">
		<h3><img src="logo.svg" /><span style="float: right">Welcome, <span th:text="${session.userName}"></span></span></h3> 
	</div>
	<div data-options="region:'west',split:true,title:'管理'" style="width:260px;padding:2px;">
		<div id="aa" class="easyui-accordion" style="width:100%;height:220px;">
		    <div title="用户管理"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('查看用户')">查看用户</div></li>
				</ul>
		    </div>
		    <div title="许可证"  style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('查看许可证')">查看许可证</div></li>
				</ul>
		    </div>
		    <div title="配置" style="overflow:auto">
		    	<ul class="easyui-tree">
					<li><div onclick="addPanel('查看配置')">查看配置</div></li>
				</ul>
		    </div>
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:25px;background:#A9FACD;">powered by hqr</div>
	<div id="acc" class="easyui-tabs" data-options="region:'center'">
		<div title="首页" style="padding:10px">
			<p style="font-size:14px">jQuery EasyUI framework helps you build your web pages easily.</p>
			<ul>
				<li>easyui is a collection of user-interface plugin based on jQuery.</li>
				<li>easyui provides essential functionality for building modem, interactive, javascript applications.</li>
				<li>using easyui you don't need to write many javascript code, you usually defines user-interface by writing some HTML markup.</li>
				<li>complete framework for HTML5 web page.</li>
				<li>easyui save your time and scales while developing your products.</li>
				<li>easyui is very easy but powerful.</li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript">
		function addPanel(name){
			tab = $('#acc').tabs('getTab',name);
			if(tab==null){
				if(name=='查看用户'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/user.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='查看许可证'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/license.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
				else if(name=='查看配置'){
					$('#acc').tabs('add',{
						title: name,
						href: 'tabs/config.html',
						//content: '<div style="padding:10px">Content</div>',
						closable: true
					});
				}
			}
			else{
				$('#acc').tabs('select',name);
			}
		}
	</script>
</body>
</html>
