<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Client Side Pagination in DataGrid - jQuery EasyUI Demo</title>

</head>
<body>
	<table id="dg" class="easyui-datagrid" style="width:700px;height:300px" data-options="
				border:false,
				fit:true,
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
		<thead>
			<tr >
				<th field="inv" width="25%" >Inv No</th>
				<th field="date" width="25%" >Date</th>
				<th field="name" width="25%">Name</th>
				<th field="amount" width="25%">Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>001</td><td>name1</td><td>2323</td>
				<td>001</td><td>name1</td><td>2323</td>
				<td>001</td><td>name1</td><td>2323</td>
				<td>001</td><td>name1</td><td>2323</td>
			</tr>
			<tr>
				<td>002</td><td>name2</td><td>4612</td>
				<td>002</td><td>name2</td><td>4612</td>
				<td>002</td><td>name2</td><td>4612</td>
				<td>002</td><td>name2</td><td>4612</td>
			</tr>
			<tr>
				<td>002</td><td>name2</td><td>4612</td>
				<td>002</td><td>name2</td><td>4612</td>
				<td>002</td><td>name2</td><td>4612</td>
				<td>002</td><td>name2</td><td>4612</td>
			</tr>
		</tbody>
	</table>
	<script>

	</script>
</body>
</html>
