<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Client Side Pagination in DataGrid - jQuery EasyUI Demo</title>

</head>
<body>
	<div id="tb3"></div>
	<div id="dlg3"></div>
	<div id="dlg5"></div>
	
	<script type="text/javascript" th:inline="none">
		var row3;
		//create user dialog
		$('#dlg3').dialog({
		    title: '新建用户',
			iconCls: 'icon-add',
			modal : true,
			closed : true,
			width: 420,
			height: 290,
		    cache: false,
		    href: 'tabs/dialogs/createUser.html'
		});
		$('#dlg5').dialog({
		    title: '批量新建用户',
			iconCls: 'icon-massadd',
			modal : true,
			closed : true,
			width: 420,
			height: 360,
		    cache: false,
		    href: 'tabs/dialogs/massCreateUser.html'
		});
		$('#tb3').datagrid({
			border:false,
			fit:true,
			striped:true,
			rownumbers : true,
			//singleSelect:true,
			autoRowHeight:false,
			pagination:true,
			pageSize : 100,
			pageList : [100,200,500],
			url:'/getOfficeUser',
			method:'post',
			toolbar: [{
				text:'添加',
				iconCls:'icon-add',
				handler:function(){
					$('#dlg3').dialog('open');
				}
			},{
				text:'批量创建',
				iconCls:'icon-massadd',
				handler:function(){
					$('#dlg5').dialog('open');
				}
			},{
				text:'删除',
				iconCls:'icon-remove',
				handler:function(){
					row3 = $('#tb3').datagrid('getSelections');
					if(row3!=null&&row3.length>0){
						var uids = '';
						for(var rr of row3){
							uids = uids + rr.id + ',';
						}
						$.messager.confirm('删除用户', '将删除'+row3.length+'位用户，它(们)的数据无法被恢复，你确定吗', function(r){
							if (r){
						       	$.messager.show({
									title:'提示',
									msg: '删除用户请求已提交，完成的速度会根据用户数量的多少决定，完成时右下角会出现弹窗提醒',
									timeout:3000,
									showType:'slide'
								}); 
								$.ajax({
								    type : "POST", 
								    url : "/deleteOfficeUser",
								    data : { "uids": uids },
								    success : function(result) {
								       	$.messager.show({
											title:'删除用户',
											msg: result,
											timeout:3000,
											showType:'slide'
										}); 
								       	$('#tb3').datagrid('reload');
								    },
									error : function(e){
								       	$.messager.show({
											title:'删除用户',
											msg:'删除用户失败，这可能是由于服务器出现问题引起的 '+e,
											timeout:2000,
											showType:'slide'
										}); 
									}
								});
							}
						});
						row3 = null;
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请至少选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){
					$('#tb3').datagrid('reload');
				}
			},'-',{
				text:'启用',
				iconCls:'icon-enable',
				handler:function(){
					row3 = $('#tb3').datagrid('getSelections');
					if(row3!=null&&row3.length>0){
						var uids = '';
						for(var rr of row3){
							uids = uids + rr.id + ',';
						}
						var accountEnabled = "true";
				       	$.messager.show({
							title:'提示',
							msg: '启用用户请求已提交，完成的速度会根据用户数量的多少决定，完成时右下角会出现弹窗提醒',
							timeout:3000,
							showType:'slide'
						}); 
						$.ajax({
						    type : "POST", 
						    url : "/updateOfficeUser",
						    data : { "uids": uids , "accountEnabled" : accountEnabled},
						    success : function(result) {
						       	$.messager.show({
									title:'提示',
									msg: result,
									timeout:3000,
									showType:'slide'
								}); 
						       	$('#tb3').datagrid('reload');
							},
							error : function(){
						       	$.messager.show({
									title:'失败',
									msg:'启用用户失败，这可能是由于服务器出现问题引起的',
									timeout:2000,
									showType:'slide'
								}); 
							}							
						});
						row3 = null;
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请至少选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},{
				text:'禁用',
				iconCls:'icon-disable',
				handler:function(){
					row3 = $('#tb3').datagrid('getSelections');
					if(row3!=null&&row3.length>0){
						var uids = '';
						for(var rr of row3){
							uids = uids + rr.id + ',';
						}
						var accountEnabled = "false";
				       	$.messager.show({
							title:'提示',
							msg: '禁用用户请求已提交，完成的速度会根据用户数量的多少决定，完成时右下角会出现弹窗提醒',
							timeout:3000,
							showType:'slide'
						}); 
						$.ajax({
						    type : "POST", 
						    url : "/updateOfficeUser",
						    data : { "uids": uids , "accountEnabled" : accountEnabled},
						    success : function(result) {
						       	$.messager.show({
									title:'提示',
									msg: result,
									timeout:3000,
									showType:'slide'
								}); 
						       	$('#tb3').datagrid('reload');
							},
							error : function(){
						       	$.messager.show({
									title:'失败',
									msg:'禁用用户失败，这可能是由于服务器出现问题引起的',
									timeout:2000,
									showType:'slide'
								}); 
							}							
						});
						row3 = null;
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请至少选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},{
				text:'提权',
				iconCls:'icon-medal',
				handler:function(){
					row3 = $('#tb3').datagrid('getSelections');
					if(row3!=null&&row3.length==1){
						var id = row3[0].id;
						var action = "P";
						
						$.ajax({
						    type : "POST", 
						    url : "/updateOfficeUserRole",
						    data : { "uid": id , "action" : action},
						    success : function(result) {
								if(result){
							       	$.messager.show({
										title:'提示',
										msg:'成功将此用户设为管理员',
										timeout:2000,
										showType:'slide'
									}); 
							       	$('#tb3').datagrid('reload');
								}
								else{
							       	$.messager.show({
										title:'提示',
										msg:'提权失败',
										timeout:2000,
										showType:'slide'
									}); 
								}
							},
							error : function(){
						       	$.messager.show({
									title:'失败',
									msg:'提权失败，这可能是由于服务器出现问题引起的',
									timeout:2000,
									showType:'slide'
								}); 
							}							
						});
						row3 = null;
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},{
				text:'撤权',
				iconCls:'icon-warning',
				handler:function(){
					row3 = $('#tb3').datagrid('getSelections');
					if(row3!=null&&row3.length==1){
						var id = row3[0].id;
						var action = "C";
						
						$.ajax({
						    type : "POST", 
						    url : "/updateOfficeUserRole",
						    data : { "uid": id , "action" : action},
						    success : function(result) {
								if(result){
							       	$.messager.show({
										title:'提示',
										msg:'成功收回管理员权限',
										timeout:2000,
										showType:'slide'
									}); 
							       	$('#tb3').datagrid('reload');
								}
								else{
							       	$.messager.show({
										title:'提示',
										msg:'收回管理员权限失败',
										timeout:2000,
										showType:'slide'
									}); 
								}
							},
							error : function(){
						       	$.messager.show({
									title:'失败',
									msg:'收回管理员权限失败，这可能是由于服务器出现问题引起的',
									timeout:2000,
									showType:'slide'
								}); 
							}							
						});
						row3 = null;
					}
					else{
						$.messager.show({
							title:'错误',
							msg:'请选择一行',
							timeout:2000,
							showType:'slide'
						});
					}
				}
			},'-',{
				text:'搜索',
				iconCls:'icon-search',
				handler:function(){
					$.messager.prompt('请输入关键字', '可以搜索名字和邮箱前缀', function(r){
						console.log("keyword is "+r);
						$.ajax({
						    type : "POST", 
						    url : "/saveKeyWord",
						    data : { "keyword": r},
						    success : function(result) {
						    	console.log("keyword saved");
							},
							error : function(){
						       	$.messager.show({
									title:'失败',
									msg:'搜索失败，这可能是由于服务器出现问题引起的',
									timeout:2000,
									showType:'slide'
								}); 
							}							
						});
						$('#tb3').datagrid('reload');
					});
				}
			},{
				text:'帮助',
				iconCls:'icon-help',
				handler:function(){
					$.messager.alert('帮助','<b>1.</b>请确保配置的可用性，可以在这里进行<a href=javascript:addPanel("Office配置")>Office配置</a>和切换全局<br>'+
							'<b>2.</b>用户的订阅如果显示的是skuid，那么你可以在<a href=javascript:addPanel("系统配置")>系统配置</a>中添加你自己的中文翻译<br>' +
							'<b>3.</b>启用和禁用用户只会对普通用户有效，删掉一个管理员用户时你必须先撤销他的管理员权限<br>'+
							'<b>4.</b>提权和撤权分别是提升一个用户为全局管理员和撤销一个用户的全局管理员权限<br> '+
							'<b>5.</b>默认新用户密码是Mjj@1234，你也可以自己定义密码或者生成随机密码，同时在<a href=javascript:addPanel("系统配置")>系统配置</a>中，你可以通过修改FORCE_CHANGE_PASSWORD=N来避免用户登录时修改密码<br> '+
							'<b>6.</b>批量创建用户可以批量创建用户和分配订阅，前缀可以自定义，系统会在前缀后面随机加上5个字符或者附加数字','');
				}
			}],
			columns : [[
				{field : 'ck',title : '选中',align : 'center',checkbox: true}, 
				{field : 'accountEnabled',title : '用户状态',align : 'center',
					formatter: function(value,row,index){
						if(value=='true'){
							return "<font color='green'>可用</font>";
						}
						else{
							return "<font color='red'>禁用</font>";
						}
					}
				}, 
				//{field : 'id',title : 'UID',align : 'center'}, 
				{field : 'userPrincipalName',title : '邮箱',align : 'center'}, 
				{field : 'displayName',title : '名字',align : 'center'},
				{field : 'assignedLicenses',title : '已分配订阅',align : 'center'},
				{field : 'usageLocation',title : '国家/地区',align : 'center'}
			]],
            onLoadError: function (data){
            	console.log(data);
            	$.messager.alert('错误', data.responseText ,'error');
				$('#tb3').datagrid('loadData',{'total':0,'rows':[]});
            }
		});
		
	</script>
	
</body>
</html>
