<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Client Side Pagination in DataGrid - jQuery EasyUI Demo</title>

</head>
<body>
	<div id="tb3"></div>
	<div id="dlg3"></div>
	
	<script type="text/javascript" th:inline="none">
		var row3;
		//create user dialog
		$('#dlg3').dialog({
		    title: '新建用户',
			iconCls: 'icon-add',
			modal : true,
			closed : true,
			width: 430,
			height: 240,
		    cache: false,
		    href: 'tabs/dialogs/createUser.html'
		});
		
		$('#tb3').datagrid({
			border:false,
			fit:true,
			striped:true,
			rownumbers : true,
			singleSelect:true,
			autoRowHeight:false,
			pagination:true,
			pageSize : 100,
			pageList : [100,200,500],
			url:'/getOfficeUser',
			method:'post',
			toolbar: [{
				text:'添加',
				iconCls:'icon-add',
				handler:function(){
					$('#dlg3').dialog('open');
				}
			},{
				text:'删除',
				iconCls:'icon-remove',
				handler:function(){
					$.messager.alert('错误', 'delete' ,'info');
				}
			},{
				text:'详情',
				iconCls:'icon-more',
				handler:function(){
					$.messager.alert('错误', 'detail' ,'info');
				}
			},{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){
					$('#tb3').datagrid('reload');
				}
			},'-',{
				text:'启用',
				iconCls:'icon-enable',
				handler:function(){
					$.messager.alert('错误', 'disable' ,'info');
				}
			},{
				text:'禁用',
				iconCls:'icon-disable',
				handler:function(){
					$.messager.alert('错误', 'disable' ,'info');
				}
			},{
				text:'提权',
				iconCls:'icon-medal',
				handler:function(){
					$.messager.alert('错误', 'grant' ,'info');
				}
			},{
				text:'收回',
				iconCls:'icon-warning',
				handler:function(){
					$.messager.alert('错误', 'revoke' ,'info');
				}
			},'-',{
				text:'搜索',
				iconCls:'icon-search',
				handler:function(){
					$.messager.prompt('请输入关键字', '可以搜索名字和邮箱前缀', function(r){
						if (r){
							alert(r);
						}
					});
				}
			},{
				text:'帮助',
				iconCls:'icon-help',
				handler:function(){
					$.messager.alert('帮助','Tip is missing','info');
				}
			}],
			columns : [[
				{field : 'accountEnabled',title : '用户状态',align : 'center',
					formatter: function(value,row,index){
						if(value=='true'){
							return "<font color='green'>可用</font>";
						}
						else{
							return "<font color='red'>禁用</font>";
						}
					}
				}, 
				{field : 'id',title : 'UID',align : 'center'}, 
				{field : 'userPrincipalName',title : '邮箱',align : 'center'}, 
				{field : 'displayName',title : '名字',align : 'center'},
				{field : 'usageLocation',title : '国家',align : 'center'}
			]],
            onLoadError: function (data){
            	console.log(data);
            	$.messager.alert('错误', data.responseText ,'error');
				$('#tb3').datagrid('loadData',{'total':0,'rows':[]});
            }
		});
		

		
	</script>
	
</body>
</html>
